layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} #[fg=#000000,bold]{session}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "false"

                mode_normal  "#[bg=blue,fg=#ffffff] {name} "
                mode_tmux    "#[bg=#ffc387,fg=#ffffff] {name} "
                mode_locked  "#[bg=#89B4FA,fg=#ffffff] {name} "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold,italic] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "America/Toronto"
            }
        }
    }



    tab name="Editor" focus=true {
        pane size=1 borderless=true {
            command "nvim"
        }
    }

    tab name="Bundlers" {
        pane size=1 borderless=true

    }

    tab name="Tests" {
        pane size=1 borderless=true
    }
}
